.qs-code-generation-controls {
  margin-top: auto;
}

.qs-code-generation-buttons {
  display: flex;
  justify-content: space-between;
}

.qs-code-generate-button {
  font-size: 12px;
  padding: 4px;
}