.scrape-button {
  padding: 16px 8px;
  background-color: #5bff70;
  cursor: pointer;
}

.qs-hidden {
  display: none !important;
  pointer-events: none !important;
}

.qs-scraper-hover {
  position: absolute;
  z-index: 99999999999;
  background-color: rgba(165, 229, 255, 0.77) !important;
}

.qs-query-window {
  * {
    box-sizing: border-box;
    font-size: 12px;
  }
  position: fixed;
  box-shadow: 0px 1px 25px 2px rgba(1, 1, 1, 0.2);
  z-index: 99999999999;
  background-color: white;
  display: flex;
  flex-direction: column;
  .qs-window-left {
    display: flex;
    flex-direction: column;
  }
  .qs-window-right {
    min-width: 200px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .qs-window-right-section{
      display: flex;
      flex-direction: column;
    }
  }
  .qs-window-titlebar {
    display: flex;
    flex-direction: row;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
  }
  .qs-window-controls {
    padding-left: 8px;
    .qs-window-control-close {
      background-color: red;
      padding: 4px;
      border-radius: 4px;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: lighten(red, 10%);
      }
    }
  }
  .qs-window-content {
    border-top: 1px solid lightgrey;
    padding: 4px;
    display: flex;
  }
  .qs-window-hierarchy {
    max-width: 200px;
    max-height: 400px;
    overflow: auto;
  }
  .qs-window-hierarchy-step {
    display: flex;
  }
  .qs-window-hierarchy-classes {
    display: flex;
    & > * {
      flex-shrink: 0;
    }
  }
  .qs-window-selector {
    input {
      width: 100%;
      box-sizing: border-box;
      padding: 4px;
      font-size: 14px;
      border-radius: 4px;
    }
  }
  .qs-window-elements-list {
    justify-content: space-around;
    display: flex;
    align-items: center;
    .qs-window-elements-list-prev, .qs-window-elements-list-next {
      font-size: 16px;
      font-weight: bold;
      padding: 8px;
      cursor: pointer;
    }
  }
}

.qs-input {
  display: flex;
  align-items: center;
  label {
    margin-bottom: 0;
  }
  & > *:not(:first-child) {
    margin-left: 4px;
  }
}

@import "components/elementInfo";
@import "components/codeGenerationControls";
@import "components/elementHierarchy";